*
{
    margin:0;
    padding:0;
    box-sizing: border-box;   

}

body
{
    background-image: url(/API_MovieDB/img/emptyTheatherChairs.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    font-family: 'Noto Serif', serif;
    color: white;
}
/* ------ Header ------ */
header
{
    display: grid;
    grid-template-rows: 1fr;
    margin: 20px 25px ;
}

#logo
{
    background-image: url(/API_MovieDB/img/Logo.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;

}

#headerDiv > h1 /* TWH */
{
    text-align: center;
    font-size: 60px;
    color: #D4AF37;
    margin: 15px 0;

    
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

/* ------ Nav/Menu Bar ------ */

#menu
{
    display:grid;
    grid-template-rows: 1fr;

}

#menu > li
{
    border-style: dotted;
    border-color: gold;
    border-radius: 5px;
    background-color: blue;
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 25px ;
    text-align: center;
    font-size: 1.5rem;
    list-style-type: none;  
}

#menuItem1
{
    animation: fadeInLeftBig;
    animation-duration: 0.5s
}

#menuItem2
{
    animation: fadeInLeftBig;
    animation-duration: .9s
}

#menuItem3
{
    animation: fadeInLeftBig;
    animation-duration: 1.3s
}

#menuItem4
{
    animation: fadeInLeftBig;
    animation-duration: 1.6s
}
#menuItem5
{
    animation: fadeInLeftBig;
    animation-duration: 1.9s
}

/* ------ Main ------ */
#welcomeContent
{
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

#previous
{
    margin: 0 5px;
    color: dodgerblue;   
    text-align-last: left;
}
#displayCurrentMenuSel
{
    margin: 0 5px;
    color: rgb(90, 255, 30);
    text-align-last: center;

    animation: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#next
{
    margin: 0 5px;
    color: dodgerblue;
    text-align-last: right;
}
h2
{
    color: gold;
    margin: 15px 0;
}

#voteAvg
{
    margin-bottom: 15px;
}
p
{
   margin: 10px 25px;
}
/* ------  ------ */

#main
{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#movieMainNowPlaying
{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.5rem;
    margin: 15px;
}

#movieContainerNav
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 100px;
}

/* ------ Now Playing Items ------ */
.movieContainer
{
    display: grid;
    grid-template-columns: 500px;
 
    margin: 15px 15px;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    padding: 0 100px;
    border-style: groove;
    background-image: url(/API_MovieDB/img/sideTheatherChairs.jpg)

}

.movieContainer > img
{
    justify-self: center;
   
}

/* ------ MovieTrailer Items ------ */
#movieTrailerDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    font-size: 1.5rem;
    margin: 15px;
}

#movieTrailerVideo
{
    padding-top: 25px;
    text-align: center;
}

#movieTrailer > img
{
    display: block;
    border-style: ridge;
    border-radius: 25px;

}
#movieTrailerInfo
{
    margin: 10%;
    text-align: center;
}

/* ------ Promotional Items ------ */
#promotionalDiv
{
    border: double;
    border-color: greenyellow;
    background-color: black;
    text-align: center;
    margin: 15px 25px;
    padding: 50px;
}

#promotionalDiv > p
{
    font-size: 30px;
    animation: flash;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* ------ Footer ------ */
footer
{
    border: double;
    border-color: peru;
    background-color: blue;
    text-align: center;
    margin: 0px 25px;
    padding: 15px;

}

/*    ----------------------------------------- */







