*
{
    margin:0;
    padding:0;
    box-sizing: border-box;   
}

body
{
    background-image: url(/API_MovieDB/img/emptyTheatherChairs.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    font-family: 'Noto Serif', serif;
    color: white;
}
/* ------ Header ------ */
header
{
    display: grid;
    grid-template-rows: 1fr;
    margin: 20px 25px ;
}

#logo
{
    background-image: url(/API_MovieDB/img/Logo.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}

#headerDiv > h1 /* TWH */
{
    text-align: center;
    font-size: 3rem;
    color: #D4AF37;
    margin: 15px 0;
}



/* ------ Nav/Menu Bar ------ */
#menu > li
{
    border-style: dotted;
    border-color: gold;
    border-radius: 5px;
    background-color: blue;
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 15px ;
    text-align: center;
    font-size: 1.5rem;
    list-style-type: none;
  
}

/* ------ Main ------ */
.previous
{
    margin: 0 20px;
    color: dodgerblue;
}
.next
{
    margin: 0 20px;
    color: dodgerblue;
    justify-self: end;
}
h2
{
    color: gold;
    margin: 15px 0;
}
#voteAvg
{
    margin-bottom: 15px;
}
p
{
   margin: 10px 25px;
}

#main
{
    display: grid;
    grid-template-columns: .2fr .8fr;
}

#movieMain
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 1.5rem;
    margin: 15px;
}

.movieContainer
{
    border-style: groove;
    margin: 0 15px 15px 15px;
    font-size: 1rem;
    text-align: center;
}

.movieContainer > img
{
    justify-self: center;
}

/* ------ Promotional Items ------ */
#promotionalDiv
{
    border: double;
    border-color: peru;
    background-color: indigo;
    text-align: center;
    margin: 15px 25px;
    padding: 50px;

}

/* ------ Footer ------ */
footer
{
    border: double;
    border-color: peru;
    background-color: blue;
    text-align: center;
    margin: 0px 25px;
    padding: 15px;
}

/*    ----------------------------------------- */







