*
{
    margin:0;
    padding:0;
    box-sizing: border-box;   

}

body
{
    background-image: url(/API_MovieDB/img/curtain01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:black;
    font-family: 'Permanent Marker', cursive;
    color: #fffe1e;
}
/* ------ Header ------ */
header
{
    display: grid;
    grid-template-rows: 1fr;
    margin: 20px 30px ;
}

#logo
{
    background-image: url(/API_MovieDB/img/Logo.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;

}

#headerDiv > h1 /* TWH */
{
    text-align: center;
    font-size: 3.5rem;
    color: #fffe1e;
    margin: 15px 0;
    
    animation: bounce;
    animation-duration: 1s;
}

/* ------ Nav/Menu Bar ------  60px;*/ 
#menu
{
    display:grid;
    grid-template-rows: 1fr;
    color:gold;
}
#menuItem1
{
    animation: fadeInLeftBig;
    animation-duration: 0.5s
}

#menuItem2
{
    animation: fadeInLeftBig;
    animation-duration: .9s
}

#menuItem3
{
    animation: fadeInLeftBig;
    animation-duration: 1.3s
}

#menuItem4
{
    animation: fadeInLeftBig;
    animation-duration: 1.6s
}
#menuItem5
{
    animation: fadeInLeftBig;
    animation-duration: 1.9s
}

#menu > li
{
    border-style: dotted;
    border-color: #ffff1e;
    border-radius: 5px;
    background-color: dodgerblue;
    padding: 10px;
    margin-left: 45px;
    margin-bottom: 25px ;
    text-align: center;
    font-size: 1.5rem;
    list-style-type: none;  
}


/* ------ Main ------ */
#welcomeContent
{
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

#previous
{
    margin: 0 5px;
    color: dodgerblue;   
    text-align-last: left;
}
#displayCurrentMenuSel
{
    margin: 0 5px;
    color: #fffe1e;
    text-align-last: center;

    animation: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#next
{
    margin: 0 5px;
    color: dodgerblue;
    text-align-last: right;
}
h2
{
    color: #8e1eff;
    margin: 15px 0;
}

#voteAvg
{
    margin-bottom: 15px;
}
p
{
   margin: 10px 25px;
   color: #8fff1e;
}
/* ------  ------ */

#main
{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#movieMainNowPlaying
{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.5rem;
    margin: 15px;
}

#movieContainerNav
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 50px;
    text-align: center;
}

/* ------ Now Playing Items ------ */
.movieContainer
{
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px 15px;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border-color: #ffff1e;
    border-style: groove;
    padding: 0 15px;

    background-image: url(/API_MovieDB/img/retro-dark-cinema-theater-hall-260nw-184141193.jpg);
    background-position: center;
    background-attachment: fixed;;
    
    
            
    font-family: 'Merienda One', cursive;;
    color: whitesmoke;

    animation: fadeInLeftBig;
    animation-duration: .5s;
}

.movieContainer > img
{
    justify-self: center;
    border-radius: 15px;
   
}

/* ------ MovieTrailer Items ------ */
#movieTrailerDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    font-size: 1.5rem;
    margin: 15px;
}

#movieTrailerVideo
{
    padding-top: 25px;
    text-align: center;
}

#movieTrailer > img
{
    display: block;
    border-style: ridge;
    border-color: #ffff1e ;
    border-radius: 25px;

}
#movieTrailerInfo
{
    margin: 10%;
    text-align: center;
}

#modalContainer
{
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: grey;
    z-index: 4;

}

#modalContainer > div > iframe
{
    width: 800px ;
    height: 470px

}
button
{
    padding: 15px ;
    display: block;
    right: 0;
    top: 0;
    position: fixed;
    border-radius: 10px;
    font-size: 20px;

}



/* ------ Back to Top Items ------ */
#backToTop
{
    margin: 15px 25px;
    padding: 50px;
    text-align: center;
    color: #ffff1e;

    animation: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* ------ Promotional Items ------ */
#promotionalSection
{
    border: double;
    border-color: #ffff1e;
    background-image: url(/API_MovieDB/img/spotlight.jpg);
    text-align: center;
    margin: 10px 25px;
    padding: 15px;

}

#promotionalDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    height: 250px;

}

.promotionalAds
{
    background-image: url(/API_MovieDB/img/twh.png);
    background-repeat: center center;
    object-fit: cover;
    border-style: ridge;
    border-color: #1e8fff;
    border-radius: 10px;

    animation: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    
}


/* ------ Footer ------ */
footer
{
    display: grid;
    grid-template-columns: .5fr .5fr 2fr;
    border: double;
    border-color: #fffe1e ;
    background-color: black;
    text-align: center;
    margin: 0px 25px;
    padding: 15px;

}
footer > div, a
{
    color: white;
    font-size: 20px;

}

/* --------------MEDIA QUERIES --------------- */
/* --------------(max-width: 575.98px) --------------- */

@media (max-width: 575.98px) {

    #promotionalSection
    {
        margin: 15px 25px;
        padding: 20px;
    }
    
    header
    {
        margin: 20px 15px ;
    }
    
    #headerDiv > h1 /* TWH */
    {
        
        display: inline-block;
        font-size: 2rem;
        margin: 15px 0;

    }
    #movieTrailerDiv
    {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }

    .movieContainer > img
    {
        width: 300px
    }

    #body
    {
        justify-items: center;
    }
    #main
    {
        grid-template-columns: 0fr;
        grid-template-rows: 0fr;
        justify-content: center;
    }
    #navBar
    {
        display: grid;
        grid-template-rows: 1fr;

    }
    #movieContainerNav
    {
        grid-template-columns: 1fr;   
        grid-template-rows: 1fr;  
        
    }
    #menu > li
    {
        margin-left: 0px;
        margin-bottom: 5px ;
    }
    #previous, #displayCurrentMenuSel, #next
    {
        text-align-last: center;
    }
    .movieContainer
    {
        grid-template-columns: 300px;
    }
    #welcomeContent
    {
        text-align: center;
    }
    #promotionalDiv
    {
        padding: 25px 0;
    }
    footer
    {
        padding: 15px;
    }
    #menu
    {
        margin: 0 15px;
    }
}

/* --------------MEDIA QUERIES --------------- */
/* --------------((min-width: 576px) and (max-width: 991.98px)) --------------- */
/*  Small devices (landscape phones, 576px and up)----------------------------------------- */
@media (min-width: 576px) and (max-width: 991.98px) 
{ 
            
    #movieTrailerDiv
    {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }

    .movieContainer > img
    {
        width: 450px
        
    }
    #movieTrailer
    {
        justify-self: center;
        
    }
    iframe
    {
        width: 576;
    }
    #body
    {
        justify-items: center;
    }
    #main
    {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr;
        justify-content: center;
    }
    #navBar
    {
        display: grid;
        grid-template-rows: 1fr;

    }
    #movieContainerNav
    {
        grid-template-columns: 1fr;   
        grid-template-rows: 1fr;  
        
    }
    #menu > li
    {
        margin-left: 0px;
        margin-bottom: 5px ;
    }
    #previous, #displayCurrentMenuSel, #next
    {
        text-align-last: center;
    }
    .movieContainer
    {
        grid-template-columns: 300px;
    }
    #welcomeContent
    {
        text-align: center;
    }
    #promotionalDiv
    {
        padding: 25px 0;
    }
    footer
    {
        padding: 15px;
    }
    #menu
    {
        margin: 0 15px;
    }
    
}

@media (min-width: 992px){ 
    
    .movieContainer
    {
        grid-template-columns: 500px;
        padding: 0 50px;
    }
    #displayCurrentMenuSel
    {
        grid-template-columns: 500px;
    }
    
}






