:root /* VARIABLES*/
{
    --all-text: #21209c;
    
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   

}

body
{

    max-width: 1440px;
    margin: auto;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-color:#FFFFFF;
    font-family: 'Averia Serif Libre', cursive;
    color: var(--all-text);

}
/* ------ Header ------ */
header
{
    display: grid;
    grid-template-rows: 1fr;
    margin: 20px 30px ;
}

#logo
{
    background-image: url(../img/Logo.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}

#headerDiv > h1 
{
    text-align: center;
    font-size: 5rem;
    color: #23120b;
    margin: 15px 0;
    
    animation: bounce;
    animation-duration: 1s;
}

/* ------ Nav/Menu Bar ------  60px;*/ 
#menu
{
    display:grid;
    grid-template-rows: 1fr;
    color: var(--all-text);
}

#menu > li:hover
{
    color: #fdb827;
    background-color: var(--all-text);
}

#menuItem1, #menuItem2, #menuItem3, #menuItem4, #menuItem5
{
    animation: fadeInLeftBig;
}

#menuItem1
{
    animation-duration: 0.5s
}

#menuItem2
{
    animation-duration: .9s
}

#menuItem3
{
    animation-duration: 1.3s
}

#menuItem4
{
    animation-duration: 1.6s
}

#menuItem5
{
    animation-duration: 1.9s
}

#menu > li
{
    border-style: solid;
    border-color: #23120b;
    border-radius: 5px;
    background-color: #fdb827;
    padding: 10px;
    margin-left: 45px;
    margin-bottom: 25px ;
    text-align: center;
    font-size: 1.5rem;
    list-style-type: none;  
}


/* ------ Main ------ */
#welcomeContent
{
    color: var(--all-text);
    font-size: 2rem;
    padding: 50px 75px;
    text-align: justify;
}

#previous
{
    margin: 0 5px;
    color: var(--all-text);
    text-align-last: left;
}

#previous:hover, #next:hover
{
    color: #fdb827;
}

#displayCurrentMenuSel
{
    margin: 0 5px;
    color: var(--all-text);
    text-align-last: center;
    color: #fdb827;
    animation: flash;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#next
{
    margin: 0 5px;
    color: var(--all-text);
    text-align-last: right;
}

h2
{
    color: var(--all-text);
    margin: 15px 0;
}

#voteAvg
{
    margin-bottom: 15px;
}

p
{
   margin: 10px 25px;
   color: var(--all-text);

}
/* ------  ------ */

#main
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#movieMainNowPlaying
{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.5rem;
    margin: 15px;
}

#movieContainerNav
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 20px;
}

/* ------ Now Playing Items ------ */
.movieContainer
{
    margin: 15px 0px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 20px;
    border-color: #fdb827;
    border-style: inset;
    padding: 0 15px;
    margin: 0 100px;
    margin-bottom: 10px;

    /* background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
     
    color: #21209c;

    animation: fadeInLeftBig;
    animation-duration: .5s;
}

.movieContainer > img
{
    justify-self: center;
    border-radius: 15px;
   
}

/* ------ MovieTrailer Items ------ */
#movieTrailerDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    font-size: 1.5rem;
    margin:  0 15px;
}

#movieTrailerVideo
{
    text-align: center;
}

#movieTrailer > img
{
    display: block;
    border-style: ridge;
    border-color: #21209c ;
    border-radius: 25px;

}

#movieTrailerInfo
{
    margin: 10%;
    text-align: center;
}

#modalContainer
{
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: #000;
    z-index: 10;

}

#modalContainer > div > iframe
{
    width: 800px ;
    height: 470px
}

button
{
    padding: 15px ;
    display: block;
    right: 0;
    top: 0;
    position: fixed;
    border-radius: 10px;
    font-size: 20px;
    background-color: #000 ;
    color: #fdb827;

}



/* ------ Back to Top Items ------ */
#backToTop
{
    margin: 15px 50px;
    text-align: center;
    color: #fdb827;
    animation: flash;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#backToTop:hover
{
    color: var(--all-text);
}

/* ------ Promotional Items ------ */
#promotionalSection
{
    text-align: center;
    margin: 10px 25px;
    padding: 15px;
}

#promotionalDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    height: 250px;
}

.promotionalAds
{
    background-image: url(../img/sponsor\ by.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: ridge;
    border-color: #23120b;
    border-radius: 10px;
    animation: fadeIn;
}

#promo1
{
    animation-duration: 1s;
}

#promo2
{
    animation-duration: 3s;
}

#promo3
{
    animation-duration: 5s;
}

#promo4
{
    animation-duration: 7s;
}


/* ------ Footer ------ */
footer
{
    display: grid;
    grid-template-columns: .5fr .5fr 2fr;
    border: double;
    border-color: #23120b ;
    background-color: black;
    text-align: right;
    margin: 0px 25px;
    padding: 15px;

}
footer > div, a
{
    color: white;
    font-size: 20px;

}

/* --------------MEDIA QUERIES --------------- */
/* --------------(max-width: 575.98px) --------------- */

@media (max-width: 575.98px) {

    #promotionalSection
    {
        margin: 15px 25px;
        padding: 20px;
    }
    
    header
    {
        margin: 20px 15px ;
    }
    
    #headerDiv > h1 /* TWH */
    {
        display: inline-block;
        font-size: 2rem;
        margin: 15px 0;
    }

    #movieTrailerDiv
    {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }

    #main
    {
        grid-template-columns: 1fr;
    }

    #navBar
    {
        display: grid;
        grid-template-rows: 1fr;
        max-width: 320px;
    }

    #welcomeContent
    {
        font-size: 1rem;
        text-align: center;
    }
    #menu
    {
        margin: 0 15px;
    }

    #menu > li
    {
        margin-left: 0px;
        margin-bottom: 5px ;
    }

    #movieContainerNav
    {
        grid-template-rows: 1fr;
        width: 300px;
        font-size: 1rem;
    }

    .movieContainer > img
    {
        max-width: 250px
    }

    .movieContainer
    {
        grid-template-columns: 1fr;
        margin: 0 0;
        padding: 0 0;
        font-size: 1rem;

    }

    #previous, #displayCurrentMenuSel, #next
    {
        text-align-last: center;
    }  

    #promotionalDiv
    {
        padding: 5px 0;
        height: 50px;
        grid-column-gap: 5px;
    }

    footer
    {
        padding: 15px;
    }

    #modalContainer > div > iframe
    {
        max-height: 100%;
    }

/* --------------MEDIA QUERIES --------------- */
/* --------------((min-width: 576px) and (max-width: 991.98px)) --------------- */
/*  Small devices (landscape phones, 576px and up)----------------------------------------- */
@media (min-width: 576px) and (max-width: 991.98px) 
{ 
    #modalContainer > div > iframe
    {
        width: 500px ;

    }        
    #movieTrailerDiv
    {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }

    .movieContainer > img
    {
        width: 450px
        
    }
    #movieTrailer
    {
        justify-self: center;
        
    }
    iframe
    {
        width: 576;
    }
    #body
    {
        justify-items: center;
    }
    #main
    {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr;
        justify-content: center;
    }
    #navBar
    {
        display: grid;
        grid-template-rows: 1fr;

    }
    #movieContainerNav
    {
        grid-template-columns: 1fr;   
        grid-template-rows: 1fr;  
        
    }
    #menu > li
    {
        margin-left: 0px;
        margin-bottom: 5px ;
    }
    #previous, #displayCurrentMenuSel, #next
    {
        text-align-last: center;
    }
    .movieContainer
    {
        grid-template-columns: 300px;
    }
    /* #welcomeContent
    {
        text-align: center;
    } */
    #promotionalDiv
    {
        padding: 25px 0;
    }
    footer
    {
        padding: 15px;
    }
    #menu
    {
        margin: 0 15px;
    }
    
}
/*---------------------------*/
@media (min-width: 992px){ 
    
    .movieContainer
    {
        grid-template-columns: 500px;
        padding: 0 50px;
    }
    #displayCurrentMenuSel
    {
        grid-template-columns: 500px;
    }
    #modalContainer > div > iframe
    {
        width: 1200px ;

    }
}






